#nameTag {
  border: 25px solid blue;
  padding: 15px;
  text-align: center;
  border-radius: 45px;
  margin-left: 25vw;
  margin-right: 25vw;

  h3 {
    font-size: 35px;
    font-family: 'Ranga', cursive;
  }
}